* {
    -fx-font-size: 1.2em;
    -fx-font-family: Arial;
}

.button:hover, .text-field:hover, .color-picker:hover {
    -fx-background-color:yellow;
}

.button {
    -fx-background-color:transparent;
    -fx-padding: 1;
    -fx-cursor:hand;
}

.button:hover {
    -fx-font-weight: bold;
}

.text-field {
    -fx-padding: 2;
}

/** Overview **/

.overview .text-field {
    -fx-background-color:transparent;
}

/** Startup Menu **/

.startupMenu {
    -fx-font: normal 20px Arial;
}

/* focused EntryCells */

.focused {
    -fx-background-color:yellow;
}

.focused .bg {
    -fx-fill: yellow;
}

/* BubbleEntry */

.bubble *{
	-fx-font: bold 14px Gadugi;
}

/* ListEntry */

.listEntry *{
    -fx-font: bold 12px Gadugi;
}

.listEntry .text-field {
    -fx-padding: 0;
    -fx-background-color: yellow;
}

.listEntry .focused {
    -fx-background-color: yellow;
}

/* Remove extra SplitPane nonsense */

.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* TitleBar */

.titleBar * {
    -fx-font-size: 10px;
}

/* ViewBar */

.viewBar {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.viewBar .projectName {
    -fx-font: normal 24px Arial;
}

.viewBar .dateRange {
    -fx-font: normal 16px Arial;
}