/**************************************************************
    General (global) styles
***************************************************************/

* {
    -fx-font-size: 1.2em;
    -fx-font-family: Arial;
}

.button {
    -fx-background-color:transparent;
    -fx-padding: 1;
    -fx-cursor:hand;
}

*.button:hover, .text-field:hover, .color-picker:hover {
    -fx-background-color:yellow;
}

.text-field {
    -fx-padding: 2;
}

/**************************************************************
    TitleBar
***************************************************************/

.titleBar * {
    -fx-font-size: 10px;
}

.titleBar { -fx-background-color: #E1E1E1; }

/**************************************************************
    ViewBar
***************************************************************/

.viewBar {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
    -fx-background-color: #E1E1E1;
}

.viewBar .projectName {
    -fx-font: normal 22px Arial;
}

.viewBar .dateRange {
    -fx-font: normal 16px Arial;
}

.viewChooser {
    -fx-font: normal 12px Arial;
}

.viewChooser .button {
    -fx-padding: 0 0 0 2px;
    -fx-margin: 0;
    -fx-background-radius: 0;
    -fx-background-color: #E1E1E1;
    -fx-alignment: center-left;
}

.viewChooser .button:hover {
    -fx-background-color: yellow;
}

/**************************************************************
    Overview
***************************************************************/

.overview {
    -fx-background-color: #FCFCFC;
}

.overview .text-field {
    -fx-background-color:transparent;
}

/********* BubbleEntry *****************/
.bubble .bg {
    -fx-fill: #E1E1E1;
    -fx-stroke: black;
}

.bubble *{
    -fx-font: bold 14px Gadugi;
}

.bubble *:disabled {
    -fx-opacity: 1;
}

/************* ListEntry *****************/

.listEntry *{
    -fx-font: bold 12px Gadugi;
}

.listEntry .text-field {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.listEntry *:disabled {
    -fx-opacity: 1;
}

/*********** focused EntryCells ***********/

.focused .bg {
    -fx-fill: yellow;
}

.focused  * {
     -fx-background-color: yellow;
}

/*********** Others ***************/

.topTimeline, .entryArea {
    -fx-background-color: #FCFCFC;
}

/**************************************************************
    Startup Menu
***************************************************************/

.startupMenu {
    -fx-font: normal 20px Arial;
}

/* Remove extra SplitPane nonsense */

.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}